
/*  */
    /* All Page */
/*  */

* {
    font-family: 'Open Sans', sans-serif;
}

body, html {
    height: 100vh;
    background-color: #203647;
    color: #eefbfb;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none; 
    color: #eefbfb;
}

footer {
    height: 2em;
    border-top: 1px solid #eefbfb;
    margin-top: 3px;
    padding: 2em;
    text-align: center;
}    

/*  */
    /* Responsive Layout */
/*  */

/* Default */
@media screen and (min-width:769px) {
    .about {
        margin-top: 3vw;
        margin-bottom: 5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .about > h1 {
        text-align: center;
        font-size: 3em;
    }   

    .about > section {
        display: flex;
        margin-top: 2vh;
        align-items: center;
        text-align: justify;
    }

    .about > section > img {
        max-width: 20vw;
        max-height: auto;
        border-radius: 50%;
        padding: 2em;
    }

    .hobby {
        margin-top: 3vw;
        margin-bottom: 5vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .hobby > h2 {
        text-align: left;
        font-size: 3em;
    }   

    .hobby > section {
        margin-top: 6vh;
        text-align: justify;
    }


    .contact {  
        height: 20vh;
        margin-bottom: 3em;
    }

    .contact > h1 {
        text-align: center;
        font-size: 3em;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .contact > section {
        display: flex;
        font-size: 75px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

/* Medium Screen */
@media screen and (max-width:768px) {
    
    .about  {
        margin-top: 6vw;
        margin-bottom: 6vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .about > h1 {
        text-align: center;
        font-size: 3em;
    }

    .about > h2 {
        text-align: center;
        font-size: 2em;
    }
    
    .about > section {
        display: flex   ;
        margin-top: 6vh;
        flex-wrap: wrap;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .about > section > img {
        max-width: 40vw;
        max-height: auto;
        border-radius: 50%;
    }
    
    .hobby {
        margin-top: 6vw;
        margin-bottom: 6vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .hobby > h2 {
        text-align: left;
        font-size: 3em;
    }   

    .hobby > section {
        margin-top: 6vh;
        text-align: justify;
    }

    .contact {  
        height: 20vh;
        margin-bottom: 3em;
    }

    .contact > h1 {
        text-align: center;
        font-size: 3em;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .contact > section {
        display: flex;
        font-size: 75px;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
}

/* Small Screen */
@media screen and (max-width:640px) {

    .about {
        margin-top: 10vw;
        margin-bottom: 10vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .about > h1 {
        font-size: 2em;   
    }

    .about > section {
        margin-top: 3vh;
        text-align: justify;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about > section > img {
        max-width: 50vw;
        max-height: auto;
        border-radius: 50%;
    }

    .hobby {
        margin-top: 10vw;
        margin-bottom: 10vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .hobby > h2 {
        text-align: left;
        font-size: 2em;
    }   

    .hobby > section {
        margin-top: 6vh;
        text-align: justify;
    }

    .contact {  
        height: 15vh;
        margin-bottom: 3em;
    }

    .contact > h1 {
        text-align: center;
        font-size: 1.5em;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .contact > section {
        display: flex;
        font-size: 50px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer {
        border-top: 1px solid #eefbfb;
        margin-top: 3px;
        padding: 1em;
        text-align: center;
    }      
}

/*  */
/* Responsive Navigation Bar */
/*  */

.nav {
    overflow: hidden;
    background-color: #203647;
}

.nav a {
    float: left;
    display: block;
    color: #eefbfb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #007cc7;
    color: #eefbfb;
}

.nav a.active {
    background-color: #12232e;
    color: #eefbfb;
    text-transform: uppercase;
}

.nav .icon {
    display: none;
}

@media screen and (max-width: 640px) {
    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .nav.responsive {
        position: relative;
    }
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*  */
    /* Parallax images*/
/*  */

.parallax1 {
    background-image: url("https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
    height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("https://images.unsplash.com/photo-1499364615650-ec38552f4f34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80");
    height: 50vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax3 {
    background-image: url("https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80");
    min-height: 60vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}