/*  */
/* All Page */
/*  */

* {
  font-family: "Open Sans", sans-serif;
}

body,
html {
  height: 100vh;
  background-color: #203647;
  color: #eefbfb;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #eefbfb;
}

/* Footer */
.contact {
  height: 20vh;
  margin: 1%;
}

.contact > h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contact > p {
  margin-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 5em;
}

.links > a {
  padding-left: 10%;
  padding-right: 10%;
}

/*  */
/* Responsive Layout */
/*  */

/* Mobile Screens */
.about,
.hobby {
  margin: 10%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.about > div {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.mypic {
  max-width: 50%;
  border-radius: 50%;
}

.hobby > section {
  text-align: justify;
}

.postpic {
  max-width: 80vw;
  margin-top: 6vw;
}

/* Desktop Screens */
@media screen and (min-width: 769px) {
  .about,
  .hobby {
    margin: 5%;
  }

  h1 {
    font-size: 3em;
  }

  .about > div {
    text-align: justify;
  }

  .about > div > p {
    width: 50%;
  }

  .mypic {
    max-width: 20%;
    margin-right: 10%;
  }

  .hobby > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .post {
    width: 30%;
    min-width: 300px;
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
  }

  .postpic {
    max-width: 27vw;
    min-width: 300px;
  }
}

/*  */
/* Parallax images*/
/*  */

.parallax_landing {
  background-image: url("https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80");
  height: 80%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_contact {
  background-image: url("https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80");
  min-height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("https://images.unsplash.com/photo-1499364615650-ec38552f4f34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80");
  height: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
