/*  */
/* All Page */
/*  */

* {
  font-family: "Open Sans", sans-serif;
}

body,
html {
  height: 100vh;
  background-color: #203647;
  color: #eefbfb;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #eefbfb;
}

/* Footer */
.contact {
  height: 20vh;
  margin: 1%;
}

.contact > h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contact > p {
  margin-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 5em;
}

.links > a {
  padding-left: 10%;
  padding-right: 10%;
}

/* Download Button */
.btn {
  background-color: #007cc7;
  color: #eefbfb;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 2rem;
  font-size: 1em;
}

.btn:hover {
  background-color: #4da8da;
}

/*  */
/* Responsive Layout */
/*  */

/* Mobile Screens */

.exp,
.proj {
  margin: 10%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.work {
  margin-top: 10vh;
  text-align: justify;
  align-items: center;
}

.work > h3 {
  font-size: 2rem;
  margin-bottom: -2vw;
}

.proj > section {
  text-align: justify;
}

.pj > img {
  object-fit: cover;
  height: 15vh;
  width: 80vw;
  margin-top: 15%;
}

/* Desktop Screens */

@media screen and (min-width: 769px) {
  .exp,
  .proj {
    margin: 5%;
  }

  .exp {
    display: flex;
  }

  .work {
    margin: 3%;
    text-align: justify;
  }

  .work > h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .proj > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pj {
    width: 30%;
    min-width: 300px;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
  }

  .pjpic {
    object-fit: cover;
    max-width: 27vw;
    min-width: 300px;
  }
}

/*  */
/* Parallax images*/
/*  */

.parallax_landing {
  background-image: url("https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1780&q=80");
  height: 80%;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_contact {
  background-image: url("https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80");
  min-height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  height: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
